#main{
    border: 2px solid blue;
    margin: 10%;
    border-radius: 25px;
}
.img{
    margin-left: 7%;
    border-radius: 20px;
    width:80rem;
}
#name{
    margin-left: 7%;
    color: rgb(108, 108, 225);
}
#searchBar{
    margin-left: 68%;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
}
#searchButton{
    margin-left: 1%;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 1%;
}